.container {
    display: flex;
}

.catalog {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.cart {
    width: 50%;
    text-align: center;
}

.img_carusel {
    display: flex;
}

.big_img {
    width: 100%;
    height: auto;
}

.buy_button {
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 50px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}